<?xml version="1.0" encoding="utf-8"?>
<configuration>
  
  <appSettings>
    <!-- Twitter Streaming API settings.  Replace Twitter OAuth settings with your own -->
    <add key="oauth_consumer_key" value="eBZLG8bgDrHC3FsyoCvOeEhKj" />
    <add key="oauth_consumer_secret" value="7rD9OJBK1lkc6EQgbJsQ5z64eFVeWajE33f8dHNksdglnsUDUX" />
    <add key="oauth_token" value="1113001569895645184-DzbRVIRHLLaPSec7u8szQYPygxciJw" />
    <add key="oauth_token_secret" value="uydoL1hjUkemGamTM0kThZVWqhKsRXkExG8o7ikyp0bOr" />
    
    <!-- Enter keywords, hashtags, or handles here.  Use comma to separate multiple entries -->
    <add key="twitter_keywords" value="Azure,Microsoft,jssug,spark,Synapse Analytics,Purview,SqlServer,SQLServer,Databricks,spark,AzureRockStar,AzureDataCommunity" />
    
    <!-- Service Bus specific app setings for messaging connections -->
    <add key="EventHubConnectionString" value="Endpoint=sb://evh-twitterdemo0714.servicebus.windows.net/;SharedAccessKeyName=RootManageSharedAccessKey;SharedAccessKey=vIbqflfV8X+cPg9h3CI1jljVvWc5Z2r+8QXnG//YdVg=" />
    <add key="EventHubName" value="tweethub"/>
  </appSettings>
</configuration>